$orange: #ff4343;
$orange80: rgba(255, 67, 67, 0.8);
$redorange:#E71414;
$redorange80: rgba(185, 12, 12, 0.8);
$white: #FFFFFF;
$gray: #BABBC5;
$blackgray: #6C7279;
$black: #2D3033;
$halfblackgray: #C6CBCD;
$vinous: #5C3249;
$formen: #344064;
$fullblack: rgb(0, 0, 0);
$bluemask: rgba(37, 43, 73, 0.7);
$socialicons: rgb(198, 203, 205);
$footertop: #353C65;
$footerbuttom: #2C3154;
$footercopyright: #808080;